ul {
    display: flex;
  }
  
  ul li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-family: $text-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  
  p, span, button {
    font-family: $text-font;
    font-size: 20px;
    font-weight: 400;
  
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: $h-font;
  }
  
  button {
    cursor: pointer;
  }