.copyright {
    background-color: #3D3D3F;
    margin-bottom: 0;
    padding: 24px 0;
    p {

        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #C2C2C2;
    }
}