/**colors****/

$nav : #2C2A2B;
$header : #2C2A2B;
$p : #3D3D3F;
$span : #8B9AA6;

/****bg**********/
$nav-bg-sm : rgba(61, 61, 63);
$body: #F8F3E9;
$bg-card : #3D3D3F;
$line-color : #E5E5E5;
$bg-line : #2C2A2B;

/****font-size*****/
$nav-font : 15px;


/***font-family***/
$text-font: 'ABeeZee', sans-serif;
$h-font: 'Noto Serif JP', serif;